html, body {
    height: 100%;
}

/*Navbar*/
#brand-logo {
    width: 70px;
}
.navbar.navbar-expand-lg {
    background-color: #000;
    font-weight: bold;
}
.navbar.navbar-expand-lg  a {
    color: #fff;
}